/* --------- normalize --------- */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- adjustment --------- */
/* --------- misc icons sprite --------- */
/* --------- sections --------- */
.social__item_fb .social_icon {
  background: url('../img/icons/social-s118a360eb7.png') 0 -96px no-repeat;
  height: 26px;
  width: 26px;
}
.social__item_fb .social_icon:hover {
  background: url('../img/icons/social-s118a360eb7.png') 0 0 no-repeat;
  height: 26px;
  width: 26px;
}

.social__item_vk .social_icon {
  background: url('../img/icons/social-s118a360eb7.png') 0 -480px no-repeat;
  height: 26px;
  width: 27px;
}
.social__item_vk .social_icon:hover {
  background: url('../img/icons/social-s118a360eb7.png') 0 -384px no-repeat;
  height: 26px;
  width: 27px;
}

.social__item_tw .social_icon {
  background: url('../img/icons/social-s118a360eb7.png') 0 -288px no-repeat;
  height: 26px;
  width: 26px;
}
.social__item_tw .social_icon:hover {
  background: url('../img/icons/social-s118a360eb7.png') 0 -192px no-repeat;
  height: 26px;
  width: 26px;
}

html, body {
  background: #f4f4f4;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0;
  margin: 0 auto;
  display: block;
}

.header {
  height: 173px;
}

.header__top {
  height: 78px;
  background: #fff;
  border-bottom: 2px solid #ebedef;
  display: block;
  margin: 0 auto;
}

.header__top-container {
  width: 1100px;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}

.social {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.social li {
  display: inline-block;
}
.social a {
  text-decoration: none;
}

.social__item {
  display: block;
  margin-left: 15px;
}

.contact {
  float: right;
}

.contact__address {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font: 14px "open_sansregular";
}
.contact__address:before {
  content: '';
  background: url('../img/icons/_misc-se6ddd17aad.png') 0 -170px no-repeat;
  height: 16px;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.contact__phone {
  display: inline-block;
  vertical-align: middle;
  margin-left: 106px;
  color: #333;
  font: 18px "open_sanssemibold";
}
.contact__phone:before {
  content: '';
  background: url('../img/icons/_misc-se6ddd17aad.png') 0 -84px no-repeat;
  height: 16px;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.header__bottom {
  padding-top: 24px;
  padding-bottom: 16px;
}

.header__bottom-container {
  width: 1100px;
  margin: 0 auto;
}

.logo {
  float: left;
}

.search {
  float: right;
  font-size: 0;
}
.search .search__input {
  color: #7f7f7f;
  height: 35px;
  width: 288px;
  font: 14px "open_sanslight", sans-serif;
  padding: 10px 17px 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background: #fbfbfb;
  border: 1px solid #dee1e4;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search .search__button {
  display: inline-block;
  vertical-align: top;
  height: 35px;
  width: 79px;
  box-sizing: border-box;
  color: #fff;
  border: 0 none;
  background: #ff6d30;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font: 16px "open_sanssemibold";
}

.main-links {
  float: right;
  margin-top: 10px;
  margin-left: 15px;
}

.main-links__list {
  margin: 0;
  padding: 0;
}

.main-links__item {
  display: inline-block;
  margin-left: 32px;
}

.main-links__link {
  font-family: "open_sanssemibold";
  font-size: 16px;
  text-decoration: underline;
  color: #333;
  display: block;
}
.main-links__link:hover {
  color: #ff6600;
}

.container {
  margin: 0 auto;
  display: block;
  width: 1100px;
}

.nav-container {
  height: 50px;
  width: 1100px;
  display: block;
  margin: 0 auto;
}

.nav {
  background: #fff;
  border-bottom: 2px solid #ebedef;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  display: block;
  font-family: "open_sanssemibold";
  color: #333;
  font-size: 16px;
  padding: 15px 10px;
  text-decoration: none;
}

.nav__link:hover {
  background: #e4e2e2;
}

.nav__item_active .nav__link {
  background: #ff6600;
  color: #fff;
}

.footer {
  height: 220px;
  display: block;
  background: url("/img/footbg.png");
}

.footer__top {
  margin: 0 auto;
  height: 191px;
  width: 1100px;
}

.footer__left {
  float: left;
  padding-top: 70px;
}

.logo__footer {
  max-width: 255px;
}

.footer__right-social {
  padding-top: 30px;
}

.socials_footer {
  margin-bottom: 16px;
  float: right;
}
.socials_footer .socials__link {
  width: 45px;
  height: 45px;
  display: block;
}
.socials_footer .socials__item {
  margin-left: 25px;
}
.socials_footer .socials__item_fb .socials__link:after {
  background: url('../img/icons/foot-s9755ff4bab.png') 0 -113px no-repeat;
  height: 43px;
  width: 43px;
  content: '';
  margin: auto;
  position: absolute;
}
.socials_footer .socials__item_fb .socials__link:hover:after {
  background: url('../img/icons/foot-s9755ff4bab.png') 0 0 no-repeat;
  height: 43px;
  width: 43px;
}
.socials_footer .socials__item_vk .socials__link:after {
  background: url('../img/icons/foot-s9755ff4bab.png') 0 -565px no-repeat;
  height: 43px;
  width: 43px;
  content: '';
  margin: auto;
  position: absolute;
}
.socials_footer .socials__item_vk .socials__link:hover:after {
  background: url('../img/icons/foot-s9755ff4bab.png') 0 -452px no-repeat;
  height: 43px;
  width: 43px;
}
.socials_footer .socials__item_tw .socials__link:after {
  background: url('../img/icons/foot-s9755ff4bab.png') 0 -339px no-repeat;
  height: 43px;
  width: 43px;
  content: '';
  margin: auto;
  position: absolute;
}
.socials_footer .socials__item_tw .socials__link:hover:after {
  background: url('../img/icons/foot-s9755ff4bab.png') 0 -226px no-repeat;
  height: 43px;
  width: 43px;
}

.footer__right {
  float: right;
}

.footer__right-nav {
  margin-right: 21px;
}

.footer-nav__list {
  text-align: right;
  width: 600px;
  margin: 15px -20px;
  padding: 0;
  margin-bottom: 0;
}

.footer-nav__link {
  font-family: "open_sansregular";
  font-size: 14px;
  color: #ffffff;
  text-decoration: underline;
  padding-left: 25px;
}
.footer-nav__link:hover {
  color: #ff6600;
}

.footer-nav__item {
  display: inline-block;
  padding-bottom: 20px;
}

.footer__bottom-copywrite {
  line-height: 28px;
  font-family: "open_sansregular";
  font-size: 12px;
  display: block;
  text-align: center;
  color: #ffffff;
  border-top: solid 1px #494949;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.main-content {
  width: 740px;
  display: block;
  float: right;
}

.main-content__top {
  background: #e4ebee;
  border: 1px solid #dee1e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 21px;
}
.main-content__top:before, .main-content__top:after {
  content: "";
  display: table;
}
.main-content__top:after {
  clear: both;
}

.main-content__sort {
  font-size: 14px;
  line-height: 16px;
  color: #5d656c;
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
}

.main-content__select {
  display: inline-block;
  vertical-align: middle;
}

.main-content__top-left {
  float: left;
  width: 40%;
  line-height: 51px;
  margin-left: 20px;
}

.main-content__top-right {
  float: right;
  width: 40%;
  text-align: right;
}

.main-content__title {
  line-height: 51px;
  color: #5d656c;
  font: 14px/20px "open_sansregular";
}

.main-content__view {
  display: inline-block;
  vertical-align: middle;
}

.main-content__view-list {
  list-style: none;
  margin: 0;
}
.main-content__view-list:before, .main-content__view-list:after {
  content: "";
  display: table;
}
.main-content__view-list:after {
  clear: both;
}

.main-content__view-item {
  float: left;
  border: 1px solid #dee1e4;
}

.main-content__view-link {
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  outline: none !important;
}

.main-content__view-icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.main-content__view-item_rows .main-content__view-icon {
  background: url('../img/icons/view-sd9b1053e5c.png') 0 -430px no-repeat;
  height: 16px;
  width: 16px;
}
.main-content__view-item_rows:hover .main-content__view-icon {
  background: url('../img/icons/view-sd9b1053e5c.png') 0 -344px no-repeat;
  height: 16px;
  width: 16px;
}

.main-content__view-item_grids .main-content__view-icon {
  background: url('../img/icons/view-sd9b1053e5c.png') 0 -86px no-repeat;
  height: 16px;
  width: 16px;
}
.main-content__view-item_grids:hover .main-content__view-icon {
  background: url('../img/icons/view-sd9b1053e5c.png') 0 0 no-repeat;
  height: 16px;
  width: 16px;
}

.main-content__view-item_lines .main-content__view-icon {
  background: url('../img/icons/view-sd9b1053e5c.png') 0 -258px no-repeat;
  height: 16px;
  width: 16px;
}
.main-content__view-item_lines:hover .main-content__view-icon {
  background: url('../img/icons/view-sd9b1053e5c.png') 0 -172px no-repeat;
  height: 16px;
  width: 16px;
}

.product__list, .product__slideshow-thumbs, .product__desc-options, .product__rating-stars, .paginator__list {
  list-style: none;
}

.sidebar {
  width: 330px;
  display: block;
  float: left;
}

.sidebar__top {
  margin-bottom: 35px;
}

.sidebar__list {
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background: #fbfbfb;
  padding: 0;
  margin: 0;
}

.sidebar__item {
  list-style: none;
  border-bottom: 1px solid #dee1e4;
}
.sidebar__item:hover {
  color: #5d656c;
  background: #d9e5ea;
}

.sidebar__link {
  padding: 12px 30px 12px 30px;
  text-decoration: none;
  display: block;
  color: #7f7f7f;
  font-family: "open_sansregular";
  font-size: 14px;
}

.bottom-text__header {
  font-family: "open_sansbold";
  font-size: 20px;
  color: #333;
}

.bottom-text__column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin-bottom: 35px;
  color: #333;
  line-height: 20px;
  text-align: justify;
  font-family: "open_sansregular";
  font-size: 14px;
}

.bottom-text__parag {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.sidebar__accordeon {
  border: 1px solid #dee1e4;
  border-radius: 5px;
  overflow: hidden;
  background: #fbfbfb;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: block;
  font-family: "open_sansregular";
  font-size: 14px;
  color: #333;
}

.sidebar__availability-header, .sidebar__brand-header, .sidebar__price-header, .sidebar__color-header, .sidebar__os-header {
  font-family: "open_sanssemibold";
  font-size: 16px;
  color: #333;
  margin-top: 0;
  margin-bottom: 15px;
  position: relative;
}
.sidebar__availability-header:after, .sidebar__brand-header:after, .sidebar__price-header:after, .sidebar__color-header:after, .sidebar__os-header:after {
  content: '';
  display: inline-block;
  background: url("/img/icons/up.png") no-repeat;
  height: 11px;
  width: 18px;
  position: absolute;
  right: 5px;
  top: 8px;
}

.sidebar__availability-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sidebar__availability-item {
  margin-bottom: 18px;
}

.sidebar__availability, .sidebar__brand, .sidebar__price, .sidebar__color, .sidebar__os {
  padding: 10px 30px 20px;
  border-bottom: 1px solid #dee1e4;
}

.sidebar__availability-label {
  display: block;
  font-family: "open_sansregular";
  font-size: 14px;
  color: #333;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.sidebar__availability-elem {
  border: 3px solid #dee1e4;
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  display: inline-block;
  vertical-align: middle;
  left: 0;
}
.sidebar__availability-elem:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ff6d30;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__availability-input {
  position: relative;
  left: -9999px;
  top: 0;
}

.sidebar__availability-input:checked + .sidebar__availability-elem {
  border-color: #ff6d30;
}
.sidebar__availability-input:checked + .sidebar__availability-elem:after {
  width: 9px;
  height: 9px;
}

.sidebar__brand-list, .sidebar__os-list {
  padding: 0;
}

.sidebar__brand-item, .sidebar__os-item {
  list-style: none;
  margin-bottom: 18px;
}

.sidebar__brand-label, .sidebar__os-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.sidebar__brand-input, .sidebar__os-input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.sidebar__brand-copy, .sidebar__os-copy {
  display: inline-block;
  position: absolute;
  left: 0;
}

.sidebar__brand-input + .sidebar__brand-copy, .sidebar__os-input + .sidebar__brand-copy, .sidebar__brand-input + .sidebar__os-copy, .sidebar__os-input + .sidebar__os-copy {
  background: url("/img/icons/check-out.png") no-repeat;
  height: 19px;
  width: 19px;
}

.sidebar__brand-input:checked + .sidebar__brand-copy, .sidebar__os-input:checked + .sidebar__brand-copy, .sidebar__brand-input:checked + .sidebar__os-copy, .sidebar__os-input:checked + .sidebar__os-copy {
  background: url("/img/icons/check-in.png") no-repeat;
  height: 19px;
  width: 19px;
}

.sidebar__price-input {
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px 0 rgba(148, 148, 148, 0.43);
  display: inline-block;
  box-sizing: border-box;
  width: 82px;
  padding: 6px 8px;
  margin-left: 15px;
}

.sidebar__price-fields-min {
  float: left;
}

.sidebar__price-fields-max {
  float: right;
}

.sidebar__price-slider {
  margin: 20px 0;
  background-color: #dee2e5;
  height: 3px;
}

.sidebar__color-list {
  padding: 0;
  font-size: 0;
  margin-left: -22px;
  padding-right: 50px;
}

.sidebar__color-item {
  display: inline-block;
  list-style: none;
  margin: 0 0 22px 22px;
}

.sidebar__color-link {
  border: 1px solid #dee1e4;
  background: darkcyan;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.sidebar__color-link__white {
  background-color: white;
}

.sidebar__color-link__gray {
  background-color: gray;
}

.sidebar__color-link__black {
  background-color: black;
}

.sidebar__color-link__darkgreen {
  background-color: darkgreen;
}

.sidebar__color-link__red {
  background-color: red;
}

.sidebar__color-link__yellow {
  background-color: yellow;
}

.sidebar__color-link__orange {
  background-color: orange;
}

.sidebar__color-link__green {
  background-color: green;
}

.sidebar__color-link__blue {
  background-color: blue;
}

.sidebar__color-link__violet {
  background-color: violet;
}

.sidebar__color-link__pink {
  background-color: pink;
}

.sidebar__color-link__darkred {
  background-color: darkred;
}

.sidebar__os-reset, .sidebar__brand-reset {
  color: #5db2fc;
  font: 14px "open_sansregular", sans-serif;
  text-decoration: underline;
}

.breadcrumbs {
  display: block;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.breadcrumbs__item:before {
  content: '>';
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs__item:first-child:before {
  display: none;
}
.breadcrumbs__item.active .breadcrumbs__link {
  text-decoration: underline;
  color: #ff6600;
}

.breadcrumbs__list {
  padding: 0;
  list-style: none;
  margin-bottom: 21px;
}

.breadcrumbs__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 16px;
  color: #333;
}

.product {
  margin-bottom: 50px;
}

.product__list {
  border: 1px solid #dee1e4;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  background: #fff;
}

.product__item {
  border-top: 1px solid #dee1e4;
}
.product__item:first-child {
  border-top: 0 none;
}

.product__item-inner {
  padding: 19px 22px;
  position: relative;
}
.product__item-inner:before, .product__item-inner:after {
  content: "";
  display: table;
}
.product__item-inner:after {
  clear: both;
}

.product__left {
  float: left;
}

.product__slideshow {
  width: 140px;
  float: left;
}

.product__slideshow-block {
  margin-bottom: 14px;
}

.product__slideshow-display, .product__slideshow-link {
  width: 134px;
  height: 134px;
  border: 1px solid #dee1e4;
  background: #fff;
  position: relative;
  display: block;
  margin-bottom: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.product__slideshow-img {
  display: block;
  max-width: 95%;
  max-height: 95%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.product__slideshow-thumbs {
  padding: 0;
  margin-left: -15px;
}
.product__slideshow-thumbs:before, .product__slideshow-thumbs:after {
  content: "";
  display: table;
}
.product__slideshow-thumbs:after {
  clear: both;
}

.product__slideshow-item {
  margin-left: 15px;
  float: left;
}

.product__slideshow-link {
  width: 34px;
  height: 34px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 0;
  position: relative;
}
.product__slideshow-link:hover {
  border-color: #ff6d30;
}

.product__slideshow-thumb-img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.product__article {
  text-align: center;
}

.product__article-word {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 16px;
  color: #7f7f7f;
  font-family: "open_sansbold";
}

.product__article-num {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 16px;
  color: black;
  font-family: "open_sanssemibold";
}

.product__desc {
  float: left;
  width: 380px;
  margin-left: 21px;
}

.product__desc-title {
  font-size: 16px;
  line-height: 18px;
  font-family: "open_sanssemibold";
  color: #010101;
  margin-bottom: 20px;
  padding-top: 7px;
}

.product__desc-options {
  margin-bottom: 14px;
}

.product__option-key {
  display: inline;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 16px;
}

.product__option-value {
  display: inline;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 16px;
}

.product__rating-stars {
  display: inline-block;
  vertical-align: middle;
}

.product__rating-stars-item {
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icons/stars-s1364320297.png') 0 0 no-repeat;
  height: 15px;
  width: 16px;
}
.product__rating-stars-item.product__rating-stars-item_filled {
  background: url('../img/icons/stars-s1364320297.png') 0 -85px no-repeat;
  height: 15px;
  width: 16px;
}

.product__rating-amount {
  display: inline-block;
  vertical-align: middle;
  color: #fbfbfb;
  font-size: 12px;
  line-height: 15px;
  width: 30px;
  background: #b5beca;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: 8px;
  text-align: center;
  font-family: "open_sanssemibold";
}

.product__right {
  position: absolute;
  top: 23px;
  bottom: 23px;
  right: 23px;
  width: 123px;
  text-align: right;
}

.product__info {
  padding-left: 25px;
  border-left: 1px solid #dee1e4;
  height: 100%;
}

.product__info-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.product__buy-btn {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 9px 12px;
  font-family: "open_sansbold";
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ff6d30;
  color: #fff;
  margin-bottom: 9px;
}

.product__availability {
  font-family: "open_sansbold";
  font-size: 12px;
  line-height: 14px;
  color: #7f7f7f;
}
.product__availability:before {
  content: '';
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #60ac49;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.product__price {
  color: black;
  font-size: 20px;
  line-height: 22px;
  font-family: "open_sanssemibold";
}

.paginator {
  text-align: right;
}

.paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #dee1e4;
  position: relative;
  overflow: hidden;
}

.paginator__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: #fff;
}
.paginator__link:hover {
  background: #e0e0e0;
}

.paginator__mark {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  line-height: 26px;
  text-align: center;
  font-family: "open_sansbold";
  font-size: 12px;
  color: #7f7f7f;
}

.paginator__item_prev .paginator__mark {
  background: url('../img/icons/paginator-s81d77a0e16.png') 0 -79px no-repeat;
  height: 9px;
  width: 6px;
}

.paginator__item_next .paginator__mark {
  background: url('../img/icons/paginator-s81d77a0e16.png') 0 0 no-repeat;
  height: 9px;
  width: 6px;
}
