.sidebar__accordeon{
  border: 1px solid #dee1e4;
  border-radius: 5px;
  overflow: hidden;
  background: #fbfbfb;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: block;
  font-family: "open_sansregular";
  font-size: 14px;
  color: #333;

}
.filter__title{
  margin-top: 0;
}
.filter__list{
  padding: 0;
  margin: 0;
}
.filter__item{
  padding: 5px 26px 0 26px;
  border-top: 1px solid #dee1e4;
  position: relative;
  &:after{
    content: '';
    display: inline-block;
    background: url('/img/icons/down.png') no-repeat;
    height: 11px;
    width: 18px;
    position: absolute;
    right: 15px;
    top: 13px;
  }
}
.filter__item.active {
  display: block;
  .filter__title:after{
    background: url('/img/icons/up.png') no-repeat;
    height: 11px;
    width: 18px;
  }
  .filter__content{
    display: block;
    margin-bottom: 20px;
  }

}
.filter__title-link{
  text-decoration: none;
  color: #333;
  font-family: "open_sanssemibold";
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
  position: relative;
}
.filter__content{
  display: none;
}

.sidebar__availability-list{
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.sidebar__availability-item{
  margin-bottom: 18px;
}
.sidebar__availability{
  padding: 10px 30px 20px;
  border-bottom: 1px solid #dee1e4;
}
.sidebar__availability-label{
  display: block;
  font-family: "open_sansregular";
  font-size: 14px;
  color: #333;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.sidebar__availability-elem{
  border: 3px solid #dee1e4;
  position: absolute;
  width: 13px;
  height: 13px;
  @include border-radius(50%);
  @include transition(border-color .3s);
  @include inlineblock;
  left: 0;

  &:after{
      content: "";
      @include absolute-center;
      width: 0;
      height: 0;
      @include border-radius(50%);
      background: #ff6d30;
      @include transition( .3s);
  }
}
.sidebar__availability-input{
  position: relative;
  left: -9999px;
  top: 0;
}
.sidebar__availability-input:checked + .sidebar__availability-elem{
  border-color: #ff6d30;

  &:after{
    width: 9px;
    height: 9px;
  }
}
.sidebar__brand{
  @extend .sidebar__availability;
}
.sidebar__brand-header{
  @extend .filter__title-link;
}
.sidebar__brand-list{
  padding: 0;
}
.sidebar__brand-item{
  list-style: none;
  margin-bottom: 18px;
}
.sidebar__brand-label{
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.sidebar__brand-input{
  position: absolute;
  top: 0;
  left: -9999px;
}
.sidebar__brand-copy{
  display: inline-block;
  position: absolute;
  left: 0;
}
.sidebar__brand-input + .sidebar__brand-copy{
  background: url('/img/icons/check-out.png') no-repeat;
  height: 19px;
  width: 19px;
}
.sidebar__brand-input:checked + .sidebar__brand-copy{
  background: url('/img/icons/check-in.png') no-repeat;
  height: 19px;
  width: 19px;
}


.sidebar__price{
  @extend .sidebar__availability;
}
.sidebar__price-header{
  @extend .filter__title-link;
}
.sidebar__price-fields{

}
.sidebar__price-input {
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px 0 rgba(148, 148, 148, 0.43);
  display: inline-block;
  box-sizing: border-box;
  width: 82px;
  padding: 6px 8px;
  margin-left: 15px;
}
.sidebar__price-fields-min{
  float: left;
}
.sidebar__price-fields-max{
  float: right;
}
.sidebar__price-slider{
  margin: 20px 0;
  background-color: #dee2e5;
  height: 3px;
}
.sidebar__color{
  @extend .sidebar__availability;
}
.sidebar__color-header{
  @extend .filter__title-link;
}
.sidebar__color-list{
  padding: 0;
  font-size: 0;
  margin-left: -15px;
  padding-right: 40px;
}

.sidebar__color-item{
  display: inline-block;
  list-style: none;
  margin: 0 0 10px 10px;
  border: 3px solid transparent;
  &:hover{
    border-color: #ff6d30;
  }
}
.sidebar__color-link{
  border: 1px solid #dee1e4;
  background: darkcyan;
  display: block;
  width: 37px;
  height: 37px;
  cursor: pointer;

}
.sidebar__color-link__white{
  background-color: white;
}
.sidebar__color-link__gray{
  background-color: gray;
}
.sidebar__color-link__black{
  background-color: black;
}
.sidebar__color-link__darkgreen{
  background-color: darkgreen;
}
.sidebar__color-link__red{
  background-color: red;
}
.sidebar__color-link__yellow{
  background-color: yellow;
}
.sidebar__color-link__orange{
  background-color: orange;
}
.sidebar__color-link__green{
  background-color: green;
}
.sidebar__color-link__blue{
  background-color: blue;
}
.sidebar__color-link__violet{
  background-color: violet;
}
.sidebar__color-link__pink{
  background-color: pink;
}
.sidebar__color-link__darkred{
  background-color: darkred;
}
.sidebar__os{
  @extend .sidebar__availability;
}
.sidebar__os-header{
  @extend .filter__title-link;
}
.sidebar__os-list{
  @extend .sidebar__brand-list;
}
.sidebar__os-item{
  @extend .sidebar__brand-item;
}
.sidebar__os-label{
  @extend .sidebar__brand-label;
}
.sidebar__os-input{
  @extend .sidebar__brand-input;
}
.sidebar__os-copy{
  @extend .sidebar__brand-copy;
}
.sidebar__reset{
  color: #5db2fc;
  font: 14px "open_sansregular", sans-serif;
  text-decoration: underline;
}