.content-title{
  color: #333;
  text-align: left;
  margin: 0;
  font: 20px/1 "open_sansbold", sans-serif;
  margin-bottom: 31px;
}
.main-content{
  width:740px;
  display: block;
  float: right;
}


