
.footer{
  height: 220px;
  display: block;
  background: url("/img/footbg.png");
}
.footer__top{
  margin: 0 auto;
  height: 191px;
  width: 1100px;
}

.footer__left{
  float: left;
  padding-top: 70px;
}
.logo__footer{
  max-width: 255px;
}
.footer__right-social{
  padding-top: 30px;

}
$foot-map: sprite-map('icons/foot/*.png', $spacing: 70px);


.socials_footer{
  margin-bottom: 21px;
  float: right;

  .socials__link{
    width: 45px;
    height: 45px;
    display: block;
  }
  .socials__item{
    margin-left: 25px;
  }
  $items: fb, vk, tw;

  @each $item in $items {
    .socials__item_#{$item} {
      .socials__link{
        &:after{
          @include get-sprite($foot-map, $item);
          content: '';
          @include absolute-center2;

        }
      }
    }
  }
}



.footer__right{
  float: right;
}
.footer__right-nav{
  margin-right: 21px;
}
.footer-nav__list{
  text-align: right;
  width: 600px;
  margin: 15px -20px;
  padding: 0;
}
.footer-nav__link{
  font-family: "open_sansregular";
  font-size: 14px;
  color: #ffffff;
  text-decoration: underline;
  padding-left: 25px;
  &:hover{
    color: #ff6600;
  }
}
.footer-nav__item{
  display: inline-block;
  padding-bottom: 25px;
}

.footer__bottom-copywrite{
  line-height: 28px;
  font-family: "open_sansregular";
  font-size: 12px;
  display: block;
  text-align: center;
  color: #ffffff;
  border-top: solid 1px #494949;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
