//@mixin get-sprite ($map, $icon) {
//  $sprite-image: sprite-file($map, $icon);
//  $sprite-map: sprite-url($map);
//  $sprite-position: sprite-position($map, $icon);
//
//  background: $sprite-map $sprite-position no-repeat;
//
//  $sprite-height: image-height($sprite-image);
//  $sprite-width: image-width($sprite-image);
//
//  height: $sprite-height;
//  width: $sprite-width;
//}
$socials: vk, fb, tw;
//$socials-map: sprite-map('icons/*.png', $spacing: 70px);
//$icons-layout: horizontal;
//
//@each $social in $socials {
//  .socials__link_#{$social} {
//    @include get-sprite($socials-map, $social);
//  }
//}

$border: solid 1px black;
html, body{
  background: #f4f4f4;
  padding: 0;
  margin: 0;
  min-width: 1100px;
  height: 100%;
}
.wrapper{


}

.header{
  height: 173px;

}

.header__top{
  height: 78px;
  background: #fff;
  border-bottom: 2px solid #ebedef;
  display: block;
  margin: 0 auto;
}
.header__top-container{
  width: 1100px;
  display: block;
  margin: 0 auto;
  padding-top: 25px;

}
.social{
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
      li{
        display: inline-block;
      }
      a{
        text-decoration: none;
      }
}
.social__item{
  display: block;
  margin-left: 15px;

}
.contact{
  float: right;
        .contact__address{
        font-family: "open_sansregular";
        font-size: 14px;
      }
      .contact__phone{
        font-family: "open_sanssemibold";
        font-size: 18px;
        margin-left: 106px;
      }

}
.clearfix{
  @include clearfix;
}


.header__bottom{
  padding-top: 24px;
  padding-bottom: 16px;
}
.header__bottom-container{
  width: 1100px;
  margin: 0 auto;

}
.logo{
  float: left;
}
.search{
  float: right;
  font-size: 0;
    .search__input{
      color: #7f7f7f;
      height: 35px;
      width: 288px;
      font: 14px "open_sanslight", sans-serif;
      padding: 10px 17px 10px;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      background: #fbfbfb;
      border: 1px solid #dee1e4;
      border-right: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .search__button{
      display: inline-block;
      vertical-align: top;
      height: 35px;
      width: 79px;
      box-sizing: border-box;
      color: #fff;
      border: none;
      background: #ff6d30;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      font: 16px "open_sanssemibold";
    }
}
.main-links{
  float: right;
  margin-top: 10px;
  margin-left: 15px;
}
.main-links__list{
  margin: 0;
  padding: 0;
}
.main-links__item{
  display: inline-block;
  margin-left: 32px;
}
.main-links__link{
  font-family: "open_sanssemibold";
  font-size: 16px;
  text-decoration: underline;
  color: #333;
  display: block;
  &:hover{
    color: #ff6600;
  }
}

.container{
  margin: 0 auto;
  display: block;
  width: 1100px;
}