.product{
  margin-bottom: 50px;
}

.product__list{
  border: 1px solid #dee1e4;
  @include border-radius(7px);
  overflow: hidden;
  background: #fff;
}
.product__item{
  border-top: 1px solid #dee1e4;

  &:first-child{
    border-top: 0 none;
  }
}
.product__item-inner{
  padding: 19px 22px;
  @include clearfix;
  position: relative;
}
.product__left{
  float: left;
}
.product__slideshow{
  width: 140px;
  float: left;

}
.product__slideshow-block{
  margin-bottom: 14px;
}
.product__slideshow-display{
  width: 134px;
  height: 134px;
  border: 1px solid #dee1e4;
  background: #fff;
  position: relative;
  display: block;
  margin-bottom: 14px;
  @include border-radius(3px);
}
.product__slideshow-img{
  display: block;
  max-width: 95%;
  max-height: 95%;
  @include absolute-center;
}
.product__slideshow-thumbs{
  @include clearfix;
  padding: 0;
  margin-left: -15px;
}
.product__slideshow-item{
  margin-left: 15px;
  float: left;
}
.product__slideshow-link{
  @extend .product__slideshow-display;
  width: 34px;
  height: 34px;
  @include border-radius(3px);
  margin-bottom: 0;
  position: relative;

  &:hover{
    border-color: #ff6d30;
  }
}
.product__slideshow-thumb-img{
  display: block;
  max-width: 90%;
  max-height: 90%;
  @include absolute-center;
}
.product__article{
  text-align: center;
}
.product__article-word{
  @include inlineblock;
  font-size: 12px;
  line-height: 16px;
  color: #7f7f7f;
  font-family: "open_sansbold";
}
.product__article-num{
  @include inlineblock;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  font-family: "open_sanssemibold";
}

//-----------Description--------------
.product__desc{
  float: left;
  width: 380px;
  margin-left: 21px;
}
.product__desc-title{
  font-size: 16px;
  line-height: 18px;
  font-family: "open_sanssemibold";
  color: #010101;
  margin-bottom: 20px;
  padding-top: 7px;
}
.product__desc-options{
  margin-bottom: 14px;
}
.product__option-key{
  display: inline;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 16px;
}
.product__option-value{
  display: inline;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 16px;
}


//-----------rating----------

.product__rating-stars{
  @include  inlineblock;
}

$stars-map:sprite-map('icons/stars/*.png', $spacing: 70px);

.product__rating-stars-item{
  @include inlineblock;
  @include get-sprite($stars-map, empty);

  &.product__rating-stars-item_filled{
    @include get-sprite($stars-map, filled);
  }
}
.product__rating-amount{
  @include  inlineblock;
  color: #fbfbfb;
  font-size: 12px;
  line-height: 15px;
  width: 30px;
  background: #b5beca;
  @include border-radius(20px);
  margin-left: 8px;
  text-align: center;
  font-family: "open_sanssemibold";
}
.product__right{
  position: absolute;
  top: 23px;
  bottom: 23px;
  right: 23px;
  width: 123px;
  text-align: right;
}
.product__info{
  padding-left: 25px;
  border-left: 1px solid #dee1e4;
  height: 100%;
}
.product__info-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
}
.product__buy-btn{
  @include inlineblock;
  text-decoration: none;
  padding: 9px 12px;
  font-family: "open_sansbold";
  @include border-radius(4px);
  background: #ff6d30;
  color: #fff;
  margin-bottom: 9px;
}
.product__availability{
  font-family: "open_sansbold";
  font-size: 12px;
  line-height: 14px;
  color: #7f7f7f;

  &:before{
    content: '';
    width: 7px;
    height: 7px;
    @include border-radius(50%);
    background: #60ac49;
    @include inlineblock;
    margin-right: 8px;
  }
}
.product__price{
  color: #333;
  font-size: 20px;
  line-height: 22px;
  font-family: "open_sanssemibold";
  //&:after{
  //  content: '';
  //  background: url("icons/_misc/currency.png");
  //  height: 14px;
  //  width: 11px;
  //  display: inline-block;
  //  margin-left: 5px;
  //}
}


//----------other views----------
@import "../_views/_grid-view";
@import "../_views/_line-view";
