


.sidebar{
  width: 330px;
  display: block;
  float: left;
}
.sidebar__top{
  margin-bottom: 35px;
}

.sidebar__list{
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background: #fbfbfb;
  padding: 0;
  margin: 0;
}
.sidebar__item{
  list-style: none;
  border-bottom: 1px solid #dee1e4;
  &:hover{
    color: #5d656c;
    background: #d9e5ea;
  }
}
.sidebar__link{
  padding: 12px 30px 12px 30px;
  text-decoration: none;
  display: block;
  color: #7f7f7f;
  font-family: "open_sansregular";
  font-size: 14px;
}
