
.bottom-text__header{
  font-family: "open_sansbold";
  font-size: 20px;
  color: #333;

}

.bottom-text__column{
  p {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 12px 0;
    text-align: justify;
  }

  .column {
    box-sizing: border-box;
    padding: 0 12px;
  }
}
.bottom-text__parag{
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

}
