.product__list_grids{
  border: none;
  overflow: auto;
  @include border-radius(0px);
  margin-left: -10px;
  background: transparent;
  padding-left: 0;

  .product__item{
    @include inlineblock;
    width: 235px;
    border-top: 0px;
    text-align: center;
    @include border-radius(5px);
    border: 1px solid #dee1e4;
    margin-left: 10px;
    margin-bottom: 11px;
    background: #fbfbfb;
  }
  .product__item-inner{
    padding: 10px 18px;
  }
  .product__slideshow {
    width: auto;
    text-align: center;
    float: none;
  }
  .product__slideshow-display{
    @include inlineblock;
  }
  .product__slideshow-item{
    @include inlineblock;
    float: none;
  }
  .product__desc{
    width: auto;
    float: none;
    margin-left: 0;
    @include clearfix;
  }
  .product__info{
    border: 0 none;
    text-align: center;
    margin-bottom: 7px;
  }
  .product__info-bottom{
    position: static;
    @include clearfix;
    border: 0 none;
  }
  .product__article{
    display: none;
  }
  .product__left{
    float: none;
  }
  .product__right{
    position: static;
    width: auto;
    text-align: center;
  }
  .product__buy-btn{
    margin-bottom: 0;
    float: right;
    font-family: "open_sansbold";
    font-size: 14px;
  }
  .product__availability{
    float: left;
    padding-top: 12px;
  }
  .product__desc-options{
    margin-bottom: 7px;
    padding: 0;
  }
  .product__option-item{
    @include clearfix;
  }
  .product__option-key{
    display: block;
    float: left;
    width: 50%;
    text-align: left;
  }
  .product__option-value{
    display: block;
    float: right;
    width: 50%;
    text-align: right;
  }
  .product__option-item_colored{
    background: #e6e6e6;
  }
  .product__rating{
    margin-bottom: 7px;
  }

}











