@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

//@import "_misc/adjustment";

/* --------- misc icons sprite --------- */
$misc_sprite: sprite-map('icons/_misc/*.png', $spacing:70px);
/* --------- sections --------- */
@import "_sections/_header";
@import "_sections/_nav";
@import "_sections/_footer";
@import "_sections/_content";
@import "_sections/_sidebar";
@import "_sections/_text";
@import "_sections/_accordeon";
@import "_sections/_breadcrumbs";

